<ion-header>
  <ion-toolbar>
    <div text-center>
      <ion-title>
        Wanted
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <div text-center>
        <ion-card-title>鶴亀デザイン株式会社</ion-card-title>
      </div>
    </ion-card-header>
    
    <ion-card-content>
      
      <ion-list>
        <ion-item>
          
          <video width="100%" controls>
            <source src="/assets/IMG_3521.TRIM.MOV" type="video/mp4">
            </video>
            
            <ion-label></ion-label>
          </ion-item>
        </ion-list>
        <p>
          〜想いを形に〜<br/>
          どんな方を笑顔にしたいと思われますか。<br/>
          作り手の想いをパッケージにのせてお客様にお届けします。<br/>
          食品、雑貨など多岐にわたるパッケージデザイン、Webデザイン、グラフィックデザインを承ります。
        </p>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>会社概要</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- List of Text Items -->
        <ion-list>
          <ion-item>
            <ion-label>事業内容：パッケージデザイン</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>設立：1970年5月5日</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>資本金：500万円</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>本社：大阪市北区扇町3-1-5-1111</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>代表取締役：鶴田梅子</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    
  </ion-content>
