<ion-header>
  <ion-toolbar>
    <div text-center>
    <ion-title>
      My Page
    </ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card class="welcome-card">
      <ion-img src="/assets/images.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>SW高校</ion-card-subtitle>
        <ion-card-title>志垣 大智</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>SW高校で、プログラミングを勉強しています。<br/>
          最近はマイクロ・サービスに興味があります。<br/>
          得意なのはGo言語とDockerです。<br/>
          プログ：https://leica19.hatenablog.com/</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>得意なこと</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>プログラミング</ion-label>
      </ion-item>
      <ion-list-header>
        <ion-label>やってみたいこと</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>機会学習</ion-label>
      </ion-item>
      <ion-list-header>
        <ion-label>資格</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>TOEIC910点</ion-label>
      </ion-item>
    </ion-list>
    
    

</ion-content>
