<ion-header>
  <ion-toolbar>
    <div text-center>
    <ion-title>
      My Page
    </ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <video width="100%" controls>
<source src="https://www.youtube.com/watch?v=vcLAminT6t4" type="video/mp4">
</video>


    <ion-card class="welcome-card">
      <ion-img src="/assets/images.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>SW高校</ion-card-subtitle>
        <ion-card-title>志垣 大智</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>SW高校で、プログラミングを勉強しています。<br/>
          最近はマイクロ・サービスに興味があります。<br/>
          得意なのはGo言語とDockerです。<br/>
          プログ：https://leica19.hatenablog.com/</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>得意なこと</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>プログラミング</ion-label>
      </ion-item>
      <ion-list-header>
        <ion-label>やってみたいこと</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>機会学習</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
    
    

</ion-content>
